.portfolio-list {
  display: inline;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.portfolio-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 354px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    width: 370px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
  }
}

.portfolio-list__img {
  width: 100%;
}

.portfolio-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}

.portfolio-list__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}

.extra-pad {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-bottom: 34px;
  }
}

.portfolio-list__wrapper {
  border: 1px solid var(--border-portfolio);
  border-top: none;
  padding: 20px 24px;
}

.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }

  @media scroll and (max-width: 1200px) {
    overflow: auto;
  }
}
